<!DOCTYPE html>
<html>
  <head>
  </head>
  <body style="background-color:powderblue;">
    <h1>타임스퀘어 5층 미세먼지</h1>
    <p>5층 외부 미세먼지 상황</p>
    <ul>

      <li>최종 미세먼지 검사시간 : <%= JSON.stringify(nowdata)%>
      </li>
      <li>온도 : <%= JSON.stringify(tempdata)%>
      </li>
      <li>습도 : <%= JSON.stringify(humidata)%>
      </li>
      <li>PM2.5 : <%= JSON.stringify(pm25data)%>
      </li>
      <li>PM10 : <%= JSON.stringify(pm10data)%>
      </li>
    </ul>

  </body>
</html>
