<!DOCTYPE html>
<html>
  <head>

    <!-- 부트 스트랩 기본 CDN 연결  -->

    <!-- 합쳐지고 최소화된 최신 CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

     <!-- 부가적인 테마 -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

     <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

     <!-- 부트 스트랩 민트 와치 cdn 연결 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/minty/bootstrap.min.css">
     <!-- 내가 조정하는 정적 stylesheet/css 파일 연결 -->
     <link rel="stylesheet" href="/stylesheets/timeB2.css">

     <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
       <a class="navbar-brand" href="#">MI_WAR</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>

       <div class="collapse navbar-collapse" id="navbarColor01">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item active">
             <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">About</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">Service</a>
           </li>

         </ul>
         <form class="form-inline my-2 my-lg-0">
           <input class="form-control mr-sm-2" type="text" placeholder="Search">
           <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
         </form>
       </div>
     </nav>
  </head>



  <body>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>영등포타임스퀘어</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

  </head>

  <body id="page-top">
      <div class="container-fluid">

   <!-- 건물 이미지  -->
<div class="row">
 <div class="col-md-6 col-xs-8">
<img class="buildingimg" style="max-width: 97%; height: auto;"src="https://post-phinf.pstatic.net/MjAxODA0MDZfOTkg/MDAxNTIyOTk4OTM3MzE5.P9ykDqnnOfgDXWYnvvouBX7Zt66sBASLmwTOM9RzFT0g.rI3yVBCuLEBf13cM3a0GPXiJKl10tJ1gEWyqXkVYPmEg.JPEG/image_7355822171522998926202.jpg?type=w1200" >

 </div>

 <div class="col-md-6 col-xs-8">

</div>

</div>

            <!-- Content Row -->
            <div class="row">

  <!-- 반응형으로 만들엇서염 -->
  <!-- 그래프부분 -->
              <div class="col-md-6 col-xs-8">

                <!-- Area Chart -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">시간별 미세먼지 농도</h6>
                  </div>
                  <div class="card-body">
                    <div class="chart-area">
                      <canvas id="myAreaChart"></canvas>
                    </div>
                    <hr>
                    Styling for the area chart can be found in the <code>/js/demo/chart-area-demo.js</code> file.
                  </div>
                </div>
               </div>
  <!-- 미세먼지 정보 들어가는 패널 -->
              <div class="col-md-6 col-xs-8">
              <div class="panel panel-default">
                <div class="panel-heading">미세먼지 상태</div>
                <div class="panel-body">

                  <li>PM2.5 : <%= JSON.stringify(pm25data)%>
                  </li>
                  <li>PM10 : <%= JSON.stringify(pm10data)%>
                  </li>

                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">온/습도 상태</h3>
                </div>
                <div class="panel-body">
                  <li>온도 : <%= JSON.stringify(tempdata)%>
                  </li>
                  <li>습도 : <%= JSON.stringify(humidata)%>
                  </li>
                </div>
              </div>

          </div>

        </div>
        <row>
          <div>

          </div>
        </row>

    <!-- <h1>타임스퀘어 지하2층 미세먼지</h1>
    <p>지하2층 외부 미세먼지 상황</p>
    <ul>

      <li>최종 미세먼지 검사시간 : <%= JSON.stringify(nowdata)%>
      </li>
      <li>온도 : <%= JSON.stringify(tempdata)%>
      </li>
      <li>습도 : <%= JSON.stringify(humidata)%>
      </li>
      <li>PM2.5 : <%= JSON.stringify(pm25data)%>
      </li>
      <li>PM10 : <%= JSON.stringify(pm10data)%>
      </li>
    </ul> -->
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
    <script src="js/demo/chart-bar-demo.js"></script>
  </body>
</html>
