


<!-- 템플릿적용시켜보기 -->

<!DOCTYPE html>
<html lang="en">
<head>

   <!-- 부트 스트랩 기본 CDN 연결  -->
   <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
   <script src="http://cdn.kendostatic.com/2014.1.528/js/kendo.all.min.js"></script>
   <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.dataviz.min.css" rel="stylesheet" />

   <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

   <!-- 부트 스트랩 민트 와치 cdn 연결 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/minty/bootstrap.min.css">
   <!-- 내가 조정하는 정적 stylesheet/css 파일 연결 -->
   <link rel="stylesheet" href="/stylesheets/time5.css">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">MI_WAR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Service</a>
        </li>

      </ul>
    </div>
  </nav>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">







  <title>영등포역</title>

  <!-- Custom fonts for this template-->
  <!--<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">-->

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">

 <!-- 지하철 이미지  -->

 <img class="subwaylogoimg"  src="imgfile/영등포구청역.JPG" style="max-width: 20%; height: auto;">





<div class="detailbox">
 <div class="row">

   <div class="nowstate_part col-md-6">





     <!-- 표들어가는거 -->

   <div class="card shadow mb-4 tablecard">
     <div class="card-header py-3">
       <h6 class="m-0 font-weight-bold text-primary">현재 대기 정보</h6>
     </div>
     <div class="card-body">
       <div class="container">


         <table class="table table-striped statetable">
   <thead>
     <tr>
       <th scope="col">항목</th>
       <th scope="col">측정값</th>
       <th scope="col">단위</th>

     </tr>
   </thead>
   <tbody>
     <tr>
       <th scope="row">미세먼지PM10</th>
       <td><%= JSON.stringify(pm10data)%></td>
       <td>㎍/㎥</td>

     </tr>
     <tr>
       <th scope="row">초미세먼지PM25</th>
       <td><%= JSON.stringify(pm25data)%></td>
       <td>㎍/㎥</td>

     </tr>
     <tr>
       <th scope="row">온도</th>
       <td><%= JSON.stringify(tempdata)%></td>
       <td>℃</td>

     </tr>

     <tr>
       <th scope="row">습도</th>
       <td><%= JSON.stringify(humidata)%></td>
       <td>%</td>

     </tr>
   </tbody>
   </table>


       </div>
     </div>
   </div>
   </div>



 <div class="nowstate_part col-md-6">
 <div class="card shadow mb-4">
   <div class="card-header py-3">
     <h6 class="m-0 font-weight-bold text-primary">현재 미세먼지 등급</h6>
   </div>
   <div class="card-body">
     <div class="container">
 <div id="example" class="k-content">
     <div class="row nowstate">
             <div id="gauge-container" >
                 <div id="gauge"></div>
                 <div >
                   <img class="pm10table"  src="imgfile/PM10pic.JPG" style="max-width: 100%; height: auto;">

                 </div>
             </div>

             <!-- <div >
               <img class="pm10table"  src="imgfile/PM10기준표.JPG" style="max-width: 40%; height: auto;">

             </div> -->
             <!-- <div class="col-md-6"></div> -->
     </div>
             <script>
             // var pm10 = ("<%=pm10data%>")


                 function createGauge() {
                     $("#gauge").kendoLinearGauge({

                         pointer: {
                             value: 33,
                             shape: "arrow",
                             color: "#040117"

                         },

                         scale: {
                             majorUnit: 20,
                             minorUnit: 5,
                             max: 200,
                             ranges: [
                                 {
                                     from: 0,
                                     to: 30,
                                     color: "#34b1eb"
                                 }, {
                                     from: 31,
                                     to: 50,
                                     color: "#4c9c52"
                                 }, {
                                     from: 51,
                                     to: 150,
                                     color: "#fcca4c"
                                 },
                                 {
                                     from: 151,
                                     to: 200,
                                     color: "#f2461f"
                                 }
                             ]
                         }
                     });
                 }

                 $(document).ready(function() {
                     createGauge();

                     $(".box").bind("change", refresh);

                     $(document).bind("kendo:skinChange", function(e) {
                         createGauge();
                         refresh();
                     });

                     window.configuredRanges = $("#gauge").data("kendoLinearGauge").options.scale.ranges;
                 });

                 function refresh() {
                     var gauge = $("#gauge").data("kendoLinearGauge"),
                         showLabels = $("#labels").prop("checked"),
                         showRanges = $("#ranges").prop("checked"),
                         isVertical = $("#vertical").prop("checked"),
                         positionInputs = $("input[name='labels-position']"),
                         options = gauge.options;

                     options.transitions = false;
                     options.scale.labels.visible = showLabels;
                     options.scale.vertical = isVertical;
                     options.scale.ranges = showRanges ? window.configuredRanges : [];

                     $("#gauge-container").toggleClass("horizontal", !isVertical);

                     gauge.redraw();
                 }
             </script>

         </div>
    </div>
  </div>
 </div>

 </div>


</div>











 <!-- 역에 대한 정보가 들어갈 body 부분 -->


        <!-- Begin Page Content -->
        <div class="graph_part">
          <!-- Area Chart -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">시간별 미세먼지 농도</h6>
            </div>
            <div class="card-body">
              <div class="container">
                    <canvas id="myChart"></canvas>
                  </div>
                  <script>
                  var now = JSON.stringify("<%=nowdata%>",replacer);
                  var now1 = JSON.stringify("<%=nowdata1%>",replacer);
                  var now2 = JSON.stringify("<%=nowdata2%>",replacer);
                  var now3 = JSON.stringify("<%=nowdata3%>",replacer);
                  var now4 = JSON.stringify("<%=nowdata4%>",replacer);
                    function replacer(key,value){//nowdata string이 너무 길어서 그래프 망가짐. 길이 제한해주는 함수
                      var str=value;
                      var str_length=value.length;
                      var i=0;
                      var max_length = 19;
                      var ko_byte=0;
                      var li_len=0;
                      var one_char="";
                      var str2 = "";
                      for(i=0;i<str_length;i++){
                        one_char=str.charAt(i);
                        ko_byte++;
                      }
                      if(ko_byte<=max_length){
                        li_len=i+1;
                      }
                      if(ko_byte>max_length){
                        str2=str.substr(0,max_length);
                        value=str2;
                        return value;
                      }
                    }
                    var pm25 = ("<%=pm25data%>")
                    var temp = ("<%=tempdata%>")

                    let myChart = document.getElementById("myChart");
                    let myLineChart = new Chart(myChart, {
                      type: 'line',
                      data: {
                        labels: [now4, now3, now2, now1, now],
                        datasets: [{
                          label: "초미세먼지",
                          lineTension: 0.3,
                          backgroundColor: "rgba(2,117,216,0.2)",
                          borderColor: "rgba(2,117,216,1)",
                          pointRadius: 5,
                          pointBackgroundColor: "rgba(2,117,216,1)",
                          pointBorderColor: "rgba(255,255,255,0.8)",
                          pointHoverRadius: 5,
                          pointHoverBackgroundColor: "rgba(2,117,216,1)",
                          pointHitRadius: 50,
                          pointBorderWidth: 2,
                          data: [("<%=pm25data4%>"), ("<%=pm25data3%>"), ("<%=pm25data2%>"), ("<%=pm25data1%>"), ("<%=pm25data%>")],
                        },{
                          label: "습도",
                          lineTension: 0.3,
                          backgroundColor: "rgba(255,0,255,0.2)",
                          borderColor: "rgba(255,0,255,1)",
                          pointRadius: 5,
                          pointBackgroundColor: "rgba(255,0,255,1)",
                          pointBorderColor: "rgba(255,255,255,0.8)",
                          pointHoverRadius: 5,
                          pointHoverBackgroundColor: "rgba(255,0,255,1)",
                          pointHitRadius: 50,
                          pointBorderWidth: 2,
                          data: [("<%=humidata4%>"), ("<%=humidata3%>"), ("<%=humidata2%>"), ("<%=humidata1%>"), ("<%=humidata%>")],
                        }],
                      },
                      options: {
                        scales: {
                          xAxes: [{
                            time: {
                              unit: 'date'
                            },
                            gridLines: {
                              display: false
                            },
                            ticks: {
                              maxTicksLimit: 7
                            }
                          }],
                          yAxes: [{
                            ticks: {
                              min: 0,
                              max: 100,
                              maxTicksLimit: 5
                            },
                            gridLines: {
                              color: "rgba(0, 0, 0, .125)",
                            }
                          }],
                        },
                        legend: {
                          display: false
                        }
                      }
                    });
                  </script>
                </div>
              </div>
             </div>


<!-- 역 근처 건물 상세 페이지로 넘어가는 썸네일 부분 -->
      <!-- End of Main Content -->
      <div class="row">


       <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://post-phinf.pstatic.net/MjAxODA0MDZfOTkg/MDAxNTIyOTk4OTM3MzE5.P9ykDqnnOfgDXWYnvvouBX7Zt66sBASLmwTOM9RzFT0g.rI3yVBCuLEBf13cM3a0GPXiJKl10tJ1gEWyqXkVYPmEg.JPEG/image_7355822171522998926202.jpg?type=w1200" alt="...">
      <div class="caption">
        <h3>영등포 타임스퀘어</h3>
        <p>영등포 타임스퀘어 미세먼지 정보 받아 오는 부분</p>
        <p><a href="/timeB2" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
     </div>
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>





</body>

</html>
