<!DOCTYPE html>
<html>
  <head>

    <!-- 부트 스트랩 기본 CDN 연결  -->

    <!-- 합쳐지고 최소화된 최신 CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

     <!-- 부가적인 테마 -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

     <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

      <!-- 지도 API발급 받은 키 넣어서 불러오는 코드 -->
    <!-- <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d5bea20aee2377b8b95bc5b39032cd81"></script> -->
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d5bea20aee2377b8b95bc5b39032cd81&libraries=services"></script>
  <!-- <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d5bea20aee2377b8b95bc5b39032cd81"></script> -->
<!-- 영등포 타임 스퀘어 글씨체 -->
   <link href="https://fonts.googleapis.com/css?family=Jua&display=swap&subset=korean" rel="stylesheet">

     <!-- 부트 스트랩 민트 와치 cdn 연결 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/minty/bootstrap.min.css">
     <!-- 내가 조정하는 정적 stylesheet/css 파일 연결 -->
     <link rel="stylesheet" href="/stylesheets/timeB2.css">

     <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
       <a class="navbar-brand" href="#">MI_WAR</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>

       <div class="collapse navbar-collapse" id="navbarColor01">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item active">
             <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">About</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">Service</a>
           </li>

         </ul>
         <form class="form-inline my-2 my-lg-0">
           <input class="form-control mr-sm-2" type="text" placeholder="Search">
           <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
         </form>
       </div>
     </nav>
  </head>



  <body>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
 <!-- 혹시 몰라서 그냥 긁어와본거  -->

 
    <title>영등포타임스퀘어</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

  </head>

  <body id="page-top">
      <div class="container-fluid">
          <div class="buildingtitle">  영등포타임스퀘어  </div>
   <!-- 건물 이미지  -->
<div class="row">
 <div class="col-md-6 col-xs-8">
<img class="buildingimg" style="max-width: 97%; height: auto;"src="https://post-phinf.pstatic.net/MjAxODA0MDZfOTkg/MDAxNTIyOTk4OTM3MzE5.P9ykDqnnOfgDXWYnvvouBX7Zt66sBASLmwTOM9RzFT0g.rI3yVBCuLEBf13cM3a0GPXiJKl10tJ1gEWyqXkVYPmEg.JPEG/image_7355822171522998926202.jpg?type=w1200" >
</div>
 <!-- 지도들어가는 위치  -->

 <!-- <p style="margin-top:-12px">
     <em class="link">
         <a href="javascript:void(0);" onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=981, height=650')">
             혹시 주소 결과가 잘못 나오는 경우에는 여기에 제보해주세요.
         </a>
     </em>
 </p> -->
 <div class="col-md-6 col-xs-8">
 <a href="https://map.kakao.com/link/to/11411449"><div class="map_img" id="map"  style="width:90%;height:300px;"></div></a>


 <!-- <script>
 var mapContainer = document.getElementById('map'), // 지도를 표시할 div
     mapOption = {
         center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
         level: 3 // 지도의 확대 레벨
     };

 var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

 // 마커를 표시할 위치입니다
 var position =  new kakao.maps.LatLng(33.450701, 126.570667);

 // 마커를 생성합니다
 var marker = new kakao.maps.Marker({
   position: position,
   clickable: true // 마커를 클릭했을 때 지도의 클릭 이벤트가 발생하지 않도록 설정합니다
 });

 // 아래 코드는 위의 마커를 생성하는 코드에서 clickable: true 와 같이
 // 마커를 클릭했을 때 지도의 클릭 이벤트가 발생하지 않도록 설정합니다
 // marker.setClickable(true);

 // 마커를 지도에 표시합니다.
 marker.setMap(map);

 // 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
 var iwContent = '<div style="padding:5px;">Hello World!</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
     iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

 // 인포윈도우를 생성합니다
 var infowindow = new kakao.maps.InfoWindow({
     content : iwContent,
     removable : iwRemoveable
 });

 // 마커에 클릭이벤트를 등록합니다
 kakao.maps.event.addListener(marker, 'click', function() {
       // 마커 위에 인포윈도우를 표시합니다
       infowindow.open(map, marker);
 });
 </script> -->
 <script>
 var mapContainer = document.getElementById('map'), // 지도를 표시할 div
     mapOption = {
         center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
         level: 3 // 지도의 확대 레벨
     };

 // 지도를 생성합니다
 var map = new kakao.maps.Map(mapContainer, mapOption);

 // 주소-좌표 변환 객체를 생성합니다
 var geocoder = new kakao.maps.services.Geocoder();

 // 주소로 좌표를 검색합니다
 geocoder.addressSearch('서울 영등포구 영중로 15', function(result, status) {

     // 정상적으로 검색이 완료됐으면
      if (status === kakao.maps.services.Status.OK) {

         var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

         // 결과값으로 받은 위치를 마커로 표시합니다
         var marker = new kakao.maps.Marker({
             map: map,
             position: coords
         });

         // 인포윈도우로 장소에 대한 설명을 표시합니다
         var infowindow = new kakao.maps.InfoWindow({
             content: '<div style="width:150px;text-align:center;padding:6px 0;">영등포타임스퀘어</div>'
         });
         infowindow.open(map, marker);

         // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
         map.setCenter(coords);
     }
 });
 </script>



 </div>
</div>

 <!-- <div class="col-md-6 col-xs-8">

</div>

</div> -->

            <!-- Content Row -->
            <div class="row">

  <!-- 반응형으로 만들엇서염 -->
  <!-- 그래프부분 -->
              <div class="col-md-6 col-xs-8">

                <!-- Area Chart -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">시간별 미세먼지 농도</h6>
                  </div>
                  <div class="card-body">
                    <div class="chart-area">
                      <canvas id="myAreaChart"></canvas>
                    </div>
                    <hr>
                    Styling for the area chart can be found in the <code>/js/demo/chart-area-demo.js</code> file.
                  </div>
                </div>
               </div>
  <!-- 미세먼지 정보 들어가는 패널 -->
              <div class="col-md-6 col-xs-8">
              <div class="panel panel-default">
                <div class="panel-heading">미세먼지 상태</div>
                <div class="panel-body">

                  <li>PM2.5 : <%= JSON.stringify(pm25data)%>
                  </li>
                  <li>PM10 : <%= JSON.stringify(pm10data)%>
                  </li>

                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">온/습도 상태</h3>
                </div>
                <div class="panel-body">
                  <li>온도 : <%= JSON.stringify(tempdata)%>
                  </li>
                  <li>습도 : <%= JSON.stringify(humidata)%>
                  </li>
                </div>
              </div>

          </div>

        </div>
        <row>
          <div>

          </div>
        </row>

    <!-- <h1>타임스퀘어 지하2층 미세먼지</h1>
    <p>지하2층 외부 미세먼지 상황</p>
    <ul>

      <li>최종 미세먼지 검사시간 : <%= JSON.stringify(nowdata)%>
      </li>
      <li>온도 : <%= JSON.stringify(tempdata)%>
      </li>
      <li>습도 : <%= JSON.stringify(humidata)%>
      </li>
      <li>PM2.5 : <%= JSON.stringify(pm25data)%>
      </li>
      <li>PM10 : <%= JSON.stringify(pm10data)%>
      </li>
    </ul> -->
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
    <script src="js/demo/chart-bar-demo.js"></script>
  </body>
</html>
